*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000; /*naar zwart veranderen*/
}

.header{
    height: 104px;
    width: 100%;
    background-color: #123456; /*weghalen*/

}
.header_content{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
    .pink_goose{
        height: 45px;
        width: 246px;
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 8px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
        .pink{
            color: #ffffff;
            font-size: 30px;
        }
        .goose{
            color: #ffb4d3;
            font-size: 30px;
        }
    .home_balk{
        align-self: center;
        background-color: aqua;
        display: flex;
        flex-direction: row;
        gap: 25px;
        color: #fff;
        align-content: center;
        text-align: center;
    }
    .login{
        height: 44px;
        width: 92px;
        background: #243241;
        align-content: center;
        text-align: center;
        color: #fff;
        border-radius: 15px;
    }
